<html>
	<head>
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="css/bigtable.css">
		<link rel="stylesheet" href="css/jxl.css">

		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script src="vendor/js/ejs.js"></script>
	</head>
	<body>
		<div class="container">
			<div class='bigtable' style="height: 500px;"></div>
		</div>

		<script src="js/util.js"></script>
		<script src="js/lib/bigtable.js"></script>
	</body>
</html>
