div.bigtable {
	border-bottom: 0px;
}

div.bigtable-col-handles-container {
	overflow: hidden;
}

div.bigtable-col-handles-container table {
	table-layout: fixed;
	width: 100%;
}

div.bigtable-container {
	overflow: scroll;
	height: 100%;
}

div.bigtable-filler {
	position: relative;
}

div.bigtable-row {
	position: absolute;
	white-space: nowrap;
	display: flex;
}

div.bigtable-cell {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 100%;
}

.bigtable-cell.row-handle {
	width: 70px;
	background-color: #eee;
	color: #666;
	font-weight: bold;
	border-right: 4px solid #ccc;
	cursor: pointer;
	font-size: small;
}

.bigtable-cell.col-handle {
	background-color: #eee;
	color: #666;
	font-weight: bold;
	border-bottom: 4px solid #ccc;
	cursor: pointer;
	font-size: small;
}

div.bigtable-col-handles-container table td.row-handle {
	width: 70px;
}

div.bigtable-col-handles-container table td.row-handle div.bigtable-cell {
	border-bottom: 4px solid #ccc;
	border-right: 4px solid #ccc;
}

div.bigtable-col-handles-container .bigtable-cell {
	border-right: 1px solid #ccc;
}
