div.bigtable {
	border: 1px solid #ccc;
}

div.bigtable-container {
	overflow: scroll;
	height: 100%;
}

div.bigtable-filler {
	position: relative;
}

div.bigtable-row {
	position: absolute;
	white-space: nowrap;
}

div.bigtable-cell {
	display: inline-block;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 100%;
}

div.bigtable-cell.row-handle {
	width: 70px;
	background-color: #eee;
	color: #666;
	font-weight: bold;
	border-right: 4px solid #ccc;
	cursor: pointer;
}

div.bigtable-cell.col-handle {
	background-color: #eee;
	color: #666;
	font-weight: bold;
	border-bottom: 4px solid #ccc;
	cursor: pointer;
}

div.bigtable-col-handles-container {
	height: 22px;
	white-space: nowrap;
	overflow: hidden;
}

div.bigtable-col-handles-container div.bigtable-cell {
}
