<div class="bigtable-col-handles-container">
	<table>
		<tr>
			<td class="row-handle"><div class="bigtable-cell row-handle">&nbsp;</div></td>
			<% for (var i = 0; i < table.getColCount(); i++) { %>
				<td style="width: <%= table.getColWidth(i) %>px"><div class="bigtable-cell col-handle"><%= table.getColName(i) %></div></td>
			<% } %>
			<td style="width: 100px"><div class="bigtable-cell col-handle">&nbsp;</div></td>
		</tr>
	</table>
</div>
<div class="bigtable-container">
	<div class="bigtable-filler" style="height: <%= table.getHeight() %>px;">
	</div>
</div>
