<div class="bigtable-col-handles-container">
	<table>
		<tr>
			<td class="bigtable-cell row-handle">&nbsp;</td>
			<% for (var i = 0; i < table.getColCount(); i++) { %>
				<td style="width: <%= table.getColWidth(i) %>px" class="bigtable-cell col-handle"><%= table.getColName(i) %></td>
			<% } %>
		</tr>
	</table>
</div>
<div class="bigtable-container">
	<div class="bigtable-filler" style="height: <%= table.getHeight() %>px;">
	</div>
</div>
