<div class="bigtable-fixed-width bigtable-top-left">&nbsp;</div>
<div class="bigtable-col-handles-container">
	<div class="bigtable-col-handles-container-2">
		<div class="bigtable-col-handles">
			<% for (var i = 0; i < table.getColCount(); i++) { %>
				<div class="bigtable-col-handle" style="width: <%= table.getColWidth(i) %>px"><%= table.getColName(i) %></div>
			<% } %>
			<div class="bigtable-col-handle bigtable-fixed-width">&nbsp;</div>
		</div>
	</div>
</div>

<div class="bigtable-body">
	<div class="bigtable-row-handles-container">
		<div class="bigtable-row-handles bigtable-fixed-width" style="height: <%= table.getHeight() %>px;">
		</div>
	</div>

	<div class="bigtable-cells-container">
		<div class="bigtable-cells" style="height: <%= table.getHeight() %>px;">
		</div>
	</div>
</div>
