<div class="bigtable-row" data-row-number="<%= row %>">
	<% for (var col = 0; col < colWidths.length; col++) { %><div class="bigtable-cell" style="width: <%= colWidths[col] %>px">a&nbsp;</div><% } %>
</div>
